# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.sqlite3
.env
.env.*
!.env.example
.venv/
venv/

# Node
node_modules/
/dist/

# Editors
*.swp
*.log
.DS_Store

# Alembic
backend/alembic/versions/*.pyc

# Database
*.db

# Logs
backend/logs/

# Builds
web/dist/
web/node_modules/

# Docker Volumes
aitools/whisper/
aitools/ollama/
logs/
